{# This one will see at the end of the live coding #}
{% import 'usefull/form.html.twig' as form %}

{# Woot ! A new way to put some commentaries! Goddamn ! #}
{# Remember the includes of header, footer, navbar etc... it's over now, all your skeleton is right here #}
<!DOCTYPE html>
<html lang="fr FR">
<head>
    {# We can prepare some blocks in order to change them dynamically #}
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
            @import url('/assets/css/style.css');
            {% block stylesheet %} {% endblock %}
        </style>
        <title>{% block title %}Ce message ne s'affichera jamais{% endblock %}</title>
    {% endblock %}
</head>
<body>

<header id="headerPosition">
    <a href="{{indexPage}}">
        <img src="/assets/picture/hero/default.png" alt="My Hero Academia">
    </a>
    <nav>
        {% if session is empty %}
        {% else %}
            <button id="popMyForm" type="button">
                <img src="/assets/picture/plus.png" alt="Add a Hero" >
            </button>
        {% endif %}
        <button type="button" id="popMyAccount">
            <img src="/assets/picture/user.png" alt="Your account" >
        </button>
    </nav>
</header>



{% if session is empty %}

    <form class="popinForm" action="{{ userPage }}" id="accountForm" method="post">
        <h2>Create an account</h2>
        {{form.input('name', 'Enter your login *')}}
        <label id="fullLabel" >
            <input type="password" name="password" placeholder="Enter your password">
        </label>
        {{form.submit('Join the team!')}}
    </form>
    <form class="popinForm" action="{{ connectPage }}" id="accountAccess" method="post">
        <h2>Access your account</h2>
        {{form.input('name', 'Enter your login *')}}
        <label id="fullLabel" >
            <input type="password" name="password" placeholder="Enter your password">
        </label>
        {{form.submit('Let\'s go !')}}
    </form>

{% else %}

    <form class="popinForm" id="insertHeroForm" action="{{ addPage }}" method="post" enctype="multipart/form-data">
        <h2>Here comes a new challenger !</h2>
        {{form.input('name', 'Enter a name *')}}
        <label id="fullLabel" >
            <input type="file" name="card">
        </label>
        {#    <input type="file" name="background">#}
        <div id="flexRadio">
            <input type="radio" id="heroStyle" name="category" value="1" checked >
            <label for="heroStyle">Hero</label>
            <input type="radio" id="vilainStyle" name="category" value="2">
            <label for="vilainStyle">Vilain</label>
        </div>
        {{form.textarea('description', 'Enter a description *')}}
        {{form.submit('PLUS ULTRA !')}}
    </form>

    <div class="popinForm" id="kiminonawa">
        <h2> Hello {{ session.login }}</h2>
        <a href={{ logoutPage }}> Logout </a>
    </div>

{% endif %}

{% block content %}
    <h1>Ce titre ne s'affichera pas non plus</h1>
{% endblock %}
<script src="/assets/js/main.js"></script>
{% block javascript %}{% endblock %}

</body>
</html>