{# This line means we gonna 'insert' our homepage inside the skeleton we just created #}
{% extends 'base.html.twig' %}

{# And just replace the blocks we want to change #}
{# Everything inside this title block will replace what was inside the base one #}
{% block title %}MHA Universe : Homepage{% endblock %}

{# The most important block, inside this one we put all the html we want to display inside the 'corpse' of our page #}
{% block content %}
    <main>
        <video autoplay muted loop id="backgroundVideo">
            <source src="asset/background_video.mp4" type="video/mp4" />
            My hero academia : Votre navigateur ne permet pas de charger cette vidéo
        </video>

        <section id="cardContainer">
            <h1>{{studentName}}</h1>

           {% for character in characters %}

            <div class="characterCard">
                <button class="updateMe" type="button">
                    <img src="asset/picture/update.png" alt="Update character">
                </button>
                <a onClick="return confirm('Are you sure you want to delete?');" class="deleteMe"
                   href="index.php?action=suppressHero&id={{ character.id }}">x</a>
                <a href="index.php?page=character&id={{ character.id }}">
                    <article>
                        <img src="asset/picture/hero/{{ character.picture }}" alt="{{ character.name }}">
                        <h2>{{ character.name }}</h2>
                        <p>{{ character.description | truncate(60, true) }}</p>
                    </article>
                </a>
                <form class="updateForm" action="index.php?id={{ character.id }}" method="post">
                    <input type="hidden" name="updateHero">
                    <label id="fullLabel">
                        <input type="text" name="name" placeholder="Modify name" value="{{ character.name }}">
                    </label>
                    <label id="fullLabel">
                            <textarea name="description" placeholder="Modify Description">{{ character.description }}</textarea>
                    </label>
                    <input type="submit" value="Update !">
                </form>
            </div>

           {% endfor %}

        </section>

    </main>
{% endblock %}